<!DOCTYPE html>
<html>
<head>
	<title>Pictures that describe me perfectly, continued</title>
</head>
<body>
	<h1>Here are five more pictures that describe me as a person</h1>
	<figure>
		<img src="images/dadjoke.jpg" width=676px" height="405px" alt="A Buzzfeed quiz result that says, 'You're either 12 years old or you're a dad'">
		<figcaption>I love dad jokes and puns. I have mastered the art of the pun, yet I must not use its power, as it's too dangerous. And I love Buzzfeed quizzes and anything that tells me who I am without me having to figure it out</figcaption>
	</figure>
	<figure>
		<img src="images/panic.jpg" width="851px" height="492px" alt="A screenshot from 'Love, Simon' with Simon holding his head in his hands and caption 'gay panic'">
		<figcaption>I have anxiety, so I'm in the state of panic about 80% of the time. I am also gay and I practically never shut up about it</figcaption>
	</figure>
	<figure>
		<img src="images/road.jpg" width="564px" height="702px" alt="An image of a road in the rain. It is surrounded by trees and yellow leaves. Behind the mist, there is a mountain visible right ahead.">
		<figcaption>My favorite season is autumn, I adore travelling and I love mist and rain a lot more than sun. I also love aesthetically pleasing pictures that were clearly taken in autumn more than I love my life</figcaption>
	</figure>
	<figure>
		<img src="images/their.jpg" width="320px" height="380px" alt="An image of a person comforting their friend. First caption says, 'When your nonbinary friend is sad because they keep getting misgendered.' The second caption says, 'Their, their'">
		<figcaption>This picture speaks to my love for puns. And I am the non-binary friend.</figcaption>
	</figure>
	<figure>
		<img src="images/weirdcat.jpg" width="700px" height="808px" alt="A sign that says, 'Beware of the dog. But beware of the cat too (he's kinda weird)' Next to the sign, there's a cat in a hat with bunny-like ears.">
		<figcaption>I am the cat</figcaption>
	</figure>
	<a href="../index.html">go back to the previous images</a>
</body>
</html>